{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats & Dogs</title>
    <link rel="stylesheet" href="{% static 'vendor/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bagpakk.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'js/bootstrap-carousel.js' %}"></script>
    <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.4/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.4/js/jquery.tablesorter.widgets.min.js"></script>
    <script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
    {% block prefix %}{% endblock prefix %}
</head>
<body {% block ngapp %}{% endblock ngapp %}>
    <header>
        <div class="wrap clearfix">
            <h1 class="left">
                <a href="/">
                    <i class="fa fa-paw"></i> Cats & Dogs
                </a>
            </h1>
            <nav class="right">
                {% if user.is_authenticated %}
                <a href="{% url 'admin:index' %}" class="button">
                    Admin
                </a>
                <a href="{% url 'logout' %}" class="button">
                    Logout
                </a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div id="content">
        <div class="wrap">
        {% block content %}{% endblock content %}
        </div>
    </div>

    <footer>
        <div class="wrap"></div>
    </footer>
    {% block postfix %}{% endblock postfix %}
</body>
</html>
