{% if objects %}

{% for obj in objects %}
    <tr data-toggle="collapse" data-target="#{{obj.name}}" data-parent="#myGroup" class="accordion-toggle">
    <!--tr>-->
        <td hidden> {{obj.id}} </td>
        <td style="color: red;"> {{obj.name}} </td>
        <td style="color: black;"> {{obj.type}} </td>
        <td style="color: black;"> {{obj.birthday|date:"Y-m-d"}} </td>
        <!--td style="border:0;"><span class="caret black"></span></th></td>-->
    </tr>

{% endfor %}
{% endif %}
