{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% load cache %}
<form method="post">
    <p>
        <fieldset>
            <input type="hidden" id="petid" name="petid">
            <label>Name:</label><input type="text" name="pname" id="pname" required><br><br>
            <label>Type:</label><select name="cars" id="petype">
            <option value="cat" selected>cat</option>
            <option value="dog">dog</option>
            </select><br><br>
            <label>Birthday:</label><input type="text" name="pbirth" id="pbirth" placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter a date in this format YYYY/MM/DD"/><br><br>
            <button  style="padding: 6px 12px;" type="submit" id="add">Add</button>
            <button  style="padding: 6px 12px;" type="submit" id="update">Update</button>
            <button  style="padding: 6px 12px;" type="submit" id="delete">Delete</button>
        </fieldset>
    </p>
</form>

<div class="contentclass table-responsive" style="min-height: 0px;">
        <!--div id="loading" style="display: none;"><img src='{{STATIC_URL}}/static/ajax-loader.gif'/></div>-->
        <table class="tablesorter table table-bordered grayText" id="sct" style="border: 0; font-size: 16px; text-align: center; font-family: sans-serif">
            <thead>
            <th hidden>ID</th>
            <th style="color: black;">Name</th>
            <th style="color: black;">Type</th>
            <th style="color: black;">Birthday</th>

            </thead>
            <tbody  id="myGroup">
                {% include "hometable.html" %}
            </tbody>
        </table>
</div>
{% block javascript %}
<script>


    $("#sct").on('click','tr',function(e) {
        document.getElementById('petid').value = this.cells[0].innerHTML;
        document.getElementById('pname').value = String(this.cells[1].innerHTML).trim();
        var petvalue = String(this.cells[2].innerHTML);
        var petcheck = petvalue.trim()
        if(String("cat") === petcheck){
            document.getElementById('petype').selectedIndex = 0;
        }else{
            document.getElementById('petype').selectedIndex = 1;
        }
        document.getElementById('pbirth').value = String(this.cells[3].innerHTML).trim();
    });

    $("#add").on("click", function(e)
    {
        e.preventDefault();
        var selectedName = $("#pname").val();
        var selectedType = $("#petype").val();
        var selectedBirthday = $("#pbirth").val();
        csrf_token = "{{ csrf_token }}";
        $.ajax({
        method: "POST",
                url: window.location.href,
                data: { selected_option: "add", selected_name: selectedName, selected_type:selectedType, selected_birth:selectedBirthday, csrfmiddlewaretoken: csrf_token },
        })
                .done(function(msg)
                {
                    $("#sct tbody").html(msg.msg);
                    $("#sct").trigger("update");
                });
    });

    $("#update").on("click", function(e)
    {
        e.preventDefault();
        var selectedName = $("#pname").val();
        var selectedType = $("#petype").val();
        var selectedBirthday = $("#pbirth").val();
        var selectedId = $("#petid").val();
        csrf_token = "{{ csrf_token }}";
        $.ajax({
        method: "POST",
                url: window.location.href,
                data: { selected_option: "update", selected_id: selectedId, selected_name: selectedName, selected_type:selectedType, selected_birth:selectedBirthday, csrfmiddlewaretoken: csrf_token },
        })
                .done(function(msg)
                {
                    $("#sct tbody").html(msg.msg);
                    $("#sct").trigger("update");
                });
    });

    $("#delete").on("click", function(e)
    {
        e.preventDefault();
        var selectedName = $("#pname").val();
        var selectedType = $("#petype").val();
        var selectedBirthday = $("#pbirth").val();
        var selectedId = $("#petid").val();
        csrf_token = "{{ csrf_token }}";
        $.ajax({
        method: "POST",
                url: window.location.href,
                data: { selected_option: "delete", selected_id: selectedId, selected_name: selectedName, selected_type:selectedType, selected_birth:selectedBirthday, csrfmiddlewaretoken: csrf_token },
        })
                .done(function(msg)
                {
                    $("#sct tbody").html(msg.msg);
                    $("#sct").trigger("update");
                });
    });
</script>
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
{% endblock %}